<nav class="navbar">
    <div class="navbar-left">
        <a href="/">
            <button class="cart-button">
                Liste des produits
            </button>
        </a>
    </div>
</nav>
<div class="cart-container">
    <div class="cart-products">
        <h2>Articles dans le panier</h2>
        @if(cartProducts.length === 0) {
        <p>Votre panier est vide</p>
        } @else {
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Taxe</th>
                    <th>Prix unitaire HT</th>
                    <th>Prix unitaire TTC</th>
                    <th>Sous-total TTC</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for(cartProduct of cartProducts; track cartProduct.id) {
                <tr>
                    <td>{{ cartProduct.productName }}</td>
                    <td>{{cartProduct.quantity}}</td>
                    <td>{{ cartProduct.taxValue | currency:'EUR':'symbol':'1.2' }}</td>
                    <td>{{ cartProduct.price | currency:'EUR':'symbol':'1.2' }}</td>
                    <td>{{ (cartProduct.price + cartProduct.taxValue) | currency:'EUR':'symbol':'1.2' }}</td>
                    <td>{{(cartProduct.quantity * (cartProduct.price + cartProduct.taxValue)) | currency:'EUR':'symbol':'1.2'}}
                    </td>
                    <td><button (click)="removeToCart(cartProduct.id, cartProduct.quantity)">Supprimer</button></td>
                </tr>
                }
            </tbody>
        </table>
        }
    </div>
    <div class="cart-summary">
        <h2>Résumé</h2>
        <p>Prix total HT : <strong>{{ total.ht | currency:'EUR':'symbol':'1.2'}}</strong></p>
        <p>Total Taxes : <strong>{{ total.taxValue | currency:'EUR':'symbol':'1.2'}}</strong></p>
        <p>Prix total TTC : <strong>{{ total.ttc | currency:'EUR':'symbol':'1.2'}}</strong></p>
    </div>
</div>